body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game {
    display: none;
    font-size: 3rem;
    font-family: 'Courier Prime', monospace;
    flex-direction: column;
    align-content: flex-start;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 20vh auto;
}

.question:not(:last-child) {
    margin-bottom: 1rem;
}

.question {
    height: 3rem;
    width: 400px;
    font-size: 0;
    position: relative;
}

.currentbox {
    height: 3rem;
    margin-left: 10px;
    border: none;
    outline: none;
    width: 4rem;
    font-size: 3rem;
    font-family: 'Courier Prime', monospace;
}

.currentbox:disabled {
    background-color: inherit;
}

.questionPart {
    display: inline-block;
    width: 60px;
    font-size: 3rem;
    text-align: center;
}

#next, #previous {
    color: #ddd;
}

.submit {
    background-color: #2222dd;
    color: #fff;
    width: 125px;
    height: 46px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, .3);
    float: right;
    font-size: inherit;
    font-size: 14px;
}

.submit:hover {
    background-color: #2222ff;
}

.form {
    font-family: 'Lato', sans-serif;
    padding: 40px;
    margin: 20vh auto;
    border: 1px solid #aaa;
    width: 400px;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-size: 18px;
    color: #666;
}

.instruction {
    margin: 0 0 25px 0;
}

.difficultyinput {
    margin-bottom: 20px;
}

.difficulty {
    list-style: none;
}

.image {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 3px;
}

.questioncount {
    font-size: 14px;
    margin-left: 10px;
}

.alertbox {
    width: 400px;
    z-index: 2;
    margin: 20vh auto;
    padding: 40px;
    margin-top: 30vh;
    font-family: 'lato', sans-serif;
    color: #666;
    border: 1px solid #aaa;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, .3);
    border-radius: 5px;
    height: 120px;
}

.alerttext {
    font-size: 18px;
    margin-bottom: 40px;
}

.alertbutton {
    background-color: #2222dd;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, .3);
    float: right;
    font-family: inherit;
    font-size: 16px;
}


.number {
    font-weight: 600;
}